<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="css/admin.css" rel="stylesheet">
</head>
<body>
<%= include admin/header.html%>
<div id="main" class="main"></div>
<%=include inc/footer.html%>
<script type="text/javascript">
	seajs.use('page/admin');
</script>
</body>
</html>