<!DOCTYPE html>
<html>
<head>
  <title>somgle--music makes the soul is no longer lonely</title>
  <link rel='stylesheet' href='/css/bootstrap.css'/>
</head>
<body>
<%=include inc/header.html %>

<%=include inc/footer%>
<script type="text/javascript">
	seajs.use('page/index');
</script>
</body>
</html>