<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <meta name="keyword" content="音乐">
  <meta name="description" content="音乐让心灵不再孤独">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<% include inc/header.html %>
<div id="main" class="main"></div>
<% include inc/footer.html %>
<script type="text/javascript">
  seajs.use('page/index');
</script>
</body>
</html>