<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/bootstrap.css'/>
</head>
<body>
<%=include inc/header %>

<p>Welcome to <%= title %></p>

<%=include inc/footer%>
<script type="text/javascript">
	seajs.use('page/index');
</script>
</body>
</html>