<!DOCTYPE html>
<html>
<head>
  <title>somgle--music makes the soul is no longer lonely</title>
  <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<%= include inc/header.html %>
<div id="main" class="main">

</div>
<%= include inc/footer %>
<script type="text/javascript">
  seajs.use(['page/com','page/index']);
</script>
</body>
</html>