/*
*base style by radish on 2013/12/19
*/
body {
  font-size: 12px;
  font-family: arial, '宋体';
  background: url('../img/main/noise.png');
  padding: 0 10%;
  margin: 0;
}
header,
footer,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
header {
  height: 90px;
}
.main {
  height: 700px;
}
.ts2 {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ts5 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ts8 {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.ts_dl2 {
  -webkit-transition: all 0.2s ease, all 0.2s ease;
  -moz-transition: all 0.2s ease, all 0.2s ease;
  -ms-transition: all 0.2s ease, all 0.2s ease;
  -o-transition: all 0.2s ease, all 0.2s ease;
  transition: all 0.2s ease, all 0.2s ease;
}
.ts_dl5 {
  -webkit-transition: all 0.5s ease, all 0.5s ease;
  -moz-transition: all 0.5s ease, all 0.5s ease;
  -ms-transition: all 0.5s ease, all 0.5s ease;
  -o-transition: all 0.5s ease, all 0.5s ease;
  transition: all 0.5s ease, all 0.5s ease;
}
.ts_dl8 {
  -webkit-transition: all 0.8s ease, all 0.8s ease;
  -moz-transition: all 0.8s ease, all 0.8s ease;
  -ms-transition: all 0.8s ease, all 0.8s ease;
  -o-transition: all 0.8s ease, all 0.8s ease;
  transition: all 0.8s ease, all 0.8s ease;
}
.red {
  color: #ff1314;
}
input {
  border: solid 1px #333333;
  background-color: rgba(34, 34, 34, 0.5);
}
