@import "variables";
@import "mixins";

.resetStyle;


header{
  height: @height-header;
}
.main{
  height: 700px;
}
footer{
  height: @height-header;
}
.ts2{
  .transition(0.2s);
}
.ts5{
  .transition(0.5s);
}
.ts8{
  .transition(0.8s);
}
.ts_dl2{
  .transition_delay(0.2s);
}
.ts_dl5{
  .transition_delay(0.5s);
}
.ts_dl8{
  .transition_delay(0.8s);
}