@import "variables";
@import "mixins";

.player {
  float: left;
  position: relative;
  overflow: hidden;
  width: @cd-player-width;
  height: @cd-player-height;
  .jp-progress {
    .jp-seek-bar {
      color: @black;
      overflow: hidden;
      height: @jp-bar-height;
      background-color: @white;
      border: inset 1px @gray;
      margin-top: @padding-base-2x;
      .border-radius(@jp-bar-height/2+1);
      //.box-shadow(0px, 0px, 20px, -5px, @black, inset);
      .jp-play-bar {
        height: @jp-bar-height;
        background-color: @light-black;
      }
      .jp-current-time{
        float: left;
        margin: -@jp-bar-height 0 0 @padding-base;
      }
      .jp-duration{
        float: right;
        margin: -@jp-bar-height @padding-base 0 0;
      }
    }
  }
  .btn {
    margin-top: @padding-base-2x;
    height: @jp-btn-height;
    line-height: @jp-btn-height;
    font-size: @font-size-h2;
    color: @menu-bg-color;
    font-family: @font-family-glyphicon;
    li {
      display: inline-block;
      &:hover {
        color: @bg-color-hover;
      }
    }
    .jp-volume-bar {
      width: @jp-volume-bar-width;
      height: @padding-base;
      border: inset 1px @gray;
      margin: -@jp-btn-height/2-2 0 0 30px;
      background-color: @white;
      .jp-volume-bar-value {
        height: @padding-base;
        background-color: @blue;
      }
    }
    .jp-pause {
      display: none;
    }
  }
}

.cd {
  width: @cd-width;
  height: @cd-height;
  background: @bg-color url("http://somgle-cover.qiniudn.com/Shayne_Ward-Breathless.jpg");
  box-shadow: 0 0 10px 6px fade(@black, 60);
  margin: @margin-base-3x;
  &:after {
    position: absolute;
    left: (@cd-width - @cd-eye-width) /2 - @cd-eye-border-size;
    top: (@cd-height - @cd-eye-height) /2 - @cd-eye-border-size;
    background: @gray;
    display: inline-block;
    border: solid @cd-eye-border-size @cd-eye-border-color;
    width: @cd-eye-width;
    height: @cd-eye-height;
    content: '';
    opacity: 0.5;
    .img-circle;
  }
  .img-circle;
}

.rt {
  .animation-rotate(20s);
}

.stop-rt {
  -webkit-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.pickup-arm {
  position: absolute;
  top: -@cd-player-arm-height/2 + @cd-player-arm-width;
  left: @cd-width+@cd-player-arm-width+@padding-base-2x;
  height: @cd-player-arm-height;
  width: @cd-player-arm-width;
  z-index: -1;
  background: url("../img/main/pickup-arm.png");
  clip: rect(@cd-player-arm-height/2,@cd-player-arm-width,@cd-player-arm-height, 0px);
}

.pick {
  .rotate(15deg);
}

.lyric {
  float: left;
  margin-left: @padding-base-4x;
  width: 500px;
  height: 300px;
  color: @black;
  overflow: hidden;
  ul {
    position: relative;
    li {
      font-size: @font-size-h5;
      height: @font-size-h4;
      line-height: @font-size-h4;
    }
    li.now {
      color: @red;
      font-size: @font-size-h4;
    }
  }
}