/**
 * by radish on 2013/12/29
 * variables
 */
@-webkit-keyframes rotate-frames {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate-frames {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotate-frames {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.player {
  float: left;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 380px;
}
.player .jp-progress .jp-seek-bar {
  color: #333333;
  overflow: hidden;
  height: 15px;
  background-color: #ffffff;
  border: inset 1px #eeeeee;
  margin-top: 10px;
  -webkit-border-radius: 8.5px;
  -ms-border-radius: 8.5px;
  -o-border-radius: 8.5px;
  border-radius: 8.5px;
}
.player .jp-progress .jp-seek-bar .jp-play-bar {
  height: 15px;
  background-color: #999999;
}
.player .jp-progress .jp-seek-bar .jp-current-time {
  float: left;
  margin: -15px 0 0 5px;
}
.player .jp-progress .jp-seek-bar .jp-duration {
  float: right;
  margin: -15px 5px 0 0;
}
.player .btn {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  color: rgba(102, 102, 102, 0.8);
  font-family: 'icomoon';
}
.player .btn li {
  display: inline-block;
}
.player .btn li:hover {
  color: #4d4d4d;
}
.player .btn .jp-volume-bar {
  width: 80px;
  height: 5px;
  border: inset 1px #eeeeee;
  margin: -17px 0 0 30px;
  background-color: #ffffff;
}
.player .btn .jp-volume-bar .jp-volume-bar-value {
  height: 5px;
  background-color: #5252ff;
}
.player .btn .jp-pause {
  display: none;
}
.cd {
  width: 240px;
  height: 240px;
  background: #999999 url("http://somgle-cover.qiniudn.com/Shayne_Ward-Breathless.jpg");
  box-shadow: 0 0 10px 6px rgba(51, 51, 51, 0.6);
  margin: 15px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.cd:after {
  position: absolute;
  left: 86px;
  top: 86px;
  background: #eeeeee;
  display: inline-block;
  border: solid 18px rgba(64, 64, 64, 0.65);
  width: 32px;
  height: 32px;
  content: '';
  opacity: 0.5;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rt {
  -webkit-animation: rotate-frames 20s infinite linear;
  -ms-animation: rotate-frames 20s infinite linear;
  -o-animation: rotate-frames 20s infinite linear;
  animation: rotate-frames 20s infinite linear;
}
.stop-rt {
  -webkit-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.pickup-arm {
  position: absolute;
  top: -155px;
  left: 275px;
  height: 360px;
  width: 25px;
  z-index: -1;
  background: url("../img/main/pickup-arm.png");
  clip: rect(180px, 25px, 360px, 0px);
}
.pick {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}
.lyric {
  float: left;
  margin-left: 20px;
  width: 500px;
  height: 300px;
  color: #333333;
  overflow: hidden;
}
.lyric ul {
  position: relative;
}
.lyric ul li {
  font-size: 14px;
  height: 18px;
  line-height: 18px;
}
.lyric ul li.now {
  color: #ff1314;
  font-size: 18px;
}
