
@import "variables";

.resetStyle(){
  body,h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,h4,h5,h6{
    padding: @padding-base 0px;
  }
  body{
    color: @color-text;
    font-size: @font-size-min;
    font-family: @font-family;
    background: @bg-body;
    padding: 0 5%;
  }
  li{
    list-style: none;
  }
}

.transition(@sec:0.1s,@timing:ease){
  -webkit-transition: all @sec @timing;
  -moz-transition: all @sec @timing;
  -ms-transition: all @sec @timing;
  -o-transition: all @sec @timing;
  transition: all @sec @timing;
}
.transition-delay(@sec:0.1s,@timing:ease){
  -webkit-transition: all @sec @timing,all @sec @timing;
  -moz-transition: all @sec @timing,all @sec @timing;
  -ms-transition: all @sec @timing,all @sec @timing;
  -o-transition: all @sec @timing,all @sec @timing;
  transition: all @sec @timing,all @sec @timing;
}
.rotate(@deg:45deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@mul:0.55) {
  -webkit-transform: scale(@mul);
  -moz-transform: scale(@mul);
  -ms-transform: scale(@mul);
  -o-transform: scale(@mul);
  transform: scale(@mul);
}
.border-radius(@num:5px){
  -webkit-border-radius: @num;
  -moz-border-radius: @num;
  -ms-border-radius: @num;
  -o-border-radius: @num;
  border-radius: @num;
}

//form-----------------------
.form-init(){
  input,button{
    margin: 0;
    padding: 0;
    border: @border-base;
    background-color: fade(@black,25%);
    outline: none;
  }
  input:invalid {
    box-shadow: 0 1px 1px fade(@red,9.5%) inset, 0 0 8px fade(@red,60%);
  }
  input:focus {
    box-shadow: 0 1px 1px fade(@black,9.5%) inset, 0 0 8px fade(@blue,60%);
  }
  button{
    color: @black;
    padding: @padding-base @padding-base-4x;
    cursor: pointer;
  }
  button:hover{
    background-color: @bg-color-hover;
  }
}