/**
 * by radish on 2013/12/29
 * variables
 */
@-webkit-keyframes rotate-frames {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-frames {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate-frames {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes rotate-frames {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate-frames {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.reg-panel {
  padding: 15px 10px;
  height: 300px;
  width: 500px;
  margin: 10px auto 0;
  color: #ffffff;
  background-color: rgba(102, 102, 102, 0.85);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.close-btn {
  position: relative;
  float: right;
  margin-top: -15px;
  margin-right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
#reg_title {
  margin-bottom: 20px;
}
.reg_form {
  margin: 0px 40px;
}
.detail {
  color: #333333;
  margin: 30px 40px;
}
