/**
 * by radish on 2013/12/29
 * variables
 */

// Global
//-------------------------
@white: #ffffff;
@gray:#eeeeee;
@deep-gray:#cccccc;
@red: #ff1314;
@blue: #5252ff;
@black: #333333;
@light-black:#999999;

@bg-color: @light-black;
@color-text: lighten(@white, 10%);
@bg-color-hover: @bg-color / 2;
@bg-color-active: @bg-color / 3;
@bg-body: @gray;

@font-size-min: 12px;
@font-size-base: 14px;
@font-size-large: 18px;
@font-size-h1: floor((@font-size-base * 2.6));// ~36px
@font-size-h2: floor((@font-size-base * 2.15));// ~30px
@font-size-h3: ceil((@font-size-base * 1.7));// ~24px
@font-size-h4: ceil((@font-size-base * 1.25));// ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));// ~12px

@line-height-h1: @font-size-h1;
@line-height-h2: @font-size-h2;
@line-height-h3: @font-size-h3;
@line-height-h4: @font-size-h4;
@line-height-h5: @font-size-h5;
@line-height-h6: @font-size-h6;

@input-height-min: 18px;
@input-height-base: 24px;

@border-base: solid 1px @white;
@border-split: solid 1px fade(@black, 80%);
@border-color-focus: @blue;

@font-family: 'arial', 'Microsoft YaHei';
@font-family-glyphicon: 'icomoon';

@img-logo-34: url('../img/main/somgle_34.png') no-repeat;

@padding-base: 5px;
@padding-base-2x: @padding-base*2;
@padding-base-3x: @padding-base*3;
@padding-base-4x: @padding-base*4;
@padding-base-6x: @padding-base*6;
@padding-base-8x: @padding-base*8;
@margin-base: 5px;
@margin-base-2x: @margin-base*2;
@margin-base-3x: @margin-base*3;
@margin-base-4x: @margin-base*4;
@margin-base-6x: @margin-base*6;
@margin-base-8x: @margin-base*8;

@height-header: 90px;
@height-footer: 100px;

//com
//--------------------------
@upload-file-height:120px;


//main
//--------------------------
@main-height: 700px;

// Iconography
// -------------------------

@icon-font-path: "../fonts/";
@icon-font-name: "icomoon";

//nav
//--------------------------
@nav-height:80px;


//menu
//--------------------------
@menu-height: 80px;
@menu-width: 80px;
@menu-bg-color: fade(@black*2, 80%);
@menu-bg-color-hover: fade(@black, 80%);

//button
//--------------------------
@btn-height: 20px;
@btn-width: 20px;

//panel
//--------------------------
@panel-padding-vertical: 15px;
@panel-padding-horizontal: 10px;
@panel-bg-color: fade(@black*2, 85%);

//player
//---------------------------
@jp-bar-width:260px;
@jp-bar-height:15px;
@jp-bar-bg-color:#FFFFFF;
@jp-bar-border-color:@deep-gray;

@jp-bar-filler-color:fade(@deep-gray,50%);
@jp-bar-border: solid 1px @jp-bar-border-color;
@jp-btn-height:@jp-bar-height*2;
@jp-volume-bar-width :80px;
//CD
//---------------------------
@cd-player-width: 300px;
@cd-player-height: 880px;
@cd-width: 240px;
@cd-height: @cd-width;
@cd-eye-width: 32px;
@cd-eye-height: @cd-eye-width;
@cd-eye-border-size: 18px;
@cd-eye-border-color: fade(@white/4, 65%);
@cd-player-arm-width: 25px;
@cd-player-arm-height: @cd-height*1.5;
//display
//----------------------------
@display-height: 60px;